/* the stuff at the top you gotta have */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* behavior for types */

body {
  padding: 20px;
  margin: 0 auto;
}

header {
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
}

h1 {
  font-size: 4rem;
  float: top;
  padding: 1rem 0 0 0;
  margin: 0;
}

h2 {
  padding: 5px;
}

h3 {
  padding: 5px;
}

h4 {
  padding: 5px;
}

p {
  padding: 5px;
}

section {
  background-color: lightgray;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.2rem 0.5rem;
}

/* ul {
  list-style: none;
} */

/* link behavior */
a {
  outline: none;
}

a:link {
  color: black;
}

a:visited {
  color: red;
}

a:focus {
  text-decoration: none;
  background: orange;
}

a:hover {
  text-decoration: none;
  background: orange;
  padding: 0.05rem;
  border-radius: 0.3rem;
}

a:active {
  color: hotpink;
}
/* link behavior */

/* behavior for classes */
.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
  flex-wrap: wrap;
}

.hero {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.cv-education {
  list-style: none;
}

.cv-experience {
  list-style: none;
}

.cv-teaching {
  list-style: none;
}

.cv-indent {
  list-style: circle;
}

.contact-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 3rem;
}

/* behavior for IDs */
