/* the stuff at the top you gotta have */
* {
  box-sizing: border-box;
  font-family: Gill Sans, sans-serif, system-ui;
}

/* behavior for types */

body {
  padding: 20px;
  margin: 0 auto;
}

header {
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
}

h1 {
  font-size: 5rem;
  float: top;
  padding: 1rem 0 0 0;
  margin: 0;
}

h2 {
  font-size: 3rem;
  padding: 5px;
}

h3 {
  font-size: 2.5rem;
  padding: 5px;
}

p {
  font-size: 1.5rem;
  padding: 5px;
}

section {
  background-color: #e2e2e2;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.2rem 0.5rem;
}

article {
  border-radius: 10px;
  padding: 0.1rem 1rem 0.1rem 0.5rem;
  margin: 1rem;
  background-color: #ffff00;
}

footer {
  font-size: 1rem;
}

ul {
  font-size: 1.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
  font-size: 1.2rem;
}

/* link behavior */
a {
  outline: none;
}

a:link {
  color: black;
}

a:visited {
  color: #ff68ff;
}

a:focus {
  text-decoration: none;
  background: #ff7f00;
}

a:hover {
  text-decoration: none;
  color: #ff7f00;
}

a:active {
  color: #ff68ff;
}

/* behavior for classes */
.nav-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.hero {
  /* display: flex; */
  gap: 1rem;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.ul-cv {
  list-style: none;
}

.cv-indent {
  list-style: circle;
}

.contact-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 3rem;
}

.sub-page-h1 {
  font-size: 2rem;
  float: top;
  padding: 1rem 0 0 0;
  margin: 0;
}

/* behavior for IDs */
