/* the stuff at the top you gotta have */
* {
  box-sizing: border-box;
  font-family: Gill Sans, sans-serif, system-ui;
  hyphens: manual;
}

/* the stuff at the top you may have */
:root {
  --color-section: #e2e2e2;
  --color-article: #ffff00;
  --color-link: #ff68ff;
  --color-visitactivelink: #ff7f00;
  --color-hoverfocus: #ff7f00;

  --font-size: 12px;
}

/* @media (max-width: 575px) {
  :root {
    --font-size: 12px;
  }
} */

@media (min-width: 576px) {
  :root {
    --font-size: 14px;
  }
}

@media (min-width: 768px) {
  :root {
    --font-size: 16px;
  }
}

@media (min-width: 992px) {
  :root {
    --font-size: 18px;
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size: 20px;
  }
}

@media (min-width: 1400px) {
  :root {
    --font-size: 22px;
  }
}

/* behavior for types */

body {
  padding: 20px;
  margin: 0 auto;
  line-height: 1.5rem;
  font-size: var(--font-size);
}

header {
  background-color: var(--color-section);
  border-radius: 10px;
  padding: 5px;
}

h1 {
  /* font-size: 3rem; */
  float: top;
  padding: 1rem;
  margin: 0;
  line-height: 3rem;
}

h2 {
  /* font-size: 2rem; */
  padding: 5px;
}

h3 {
  /* font-size: 1.5rem; */
  padding: 5px;
}

p {
  /* font-size: 1rem; */
  padding: 0.1rem;
}

section {
  background-color: var(--color-section);
  border-radius: 10px;
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

article {
  border-radius: 10px;
  padding: 0.1rem 1rem 0.1rem 0.5rem;
  margin: 1rem;
  background-color: var(--color-article);
}

footer {
  font-size: 0.75rem;
}

ul {
  font-size: 1rem;
}

nav {
  font-size: 1rem;
}

/* link behavior */
a {
  outline: none;
}

a:link {
  color: var(--color-link);
}

a:visited {
  color: var(--color-visitactivelink);
}

a:focus {
  text-decoration: none;
  color: var(--color-hoverfocus);
}

a:hover {
  text-decoration: none;
  color: var(--color-hoverfocus);
}

a:active {
  color: var(--color-visitactivelink);
}

/* behavior for classes */
.nav-list {
  display: flex;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;
}

.hero {
  gap: 1rem;
  justify-content: center;
}

.ul-cv {
  list-style: none;
}

.cv-indent {
  list-style: circle;
}

.contact-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 3rem;
}

/* .sub-page-h1 {
  font-size: 3rem;
  line-height: 3rem;
  float: top;
  padding: 1rem 0 0 0;
  margin: 0;
} */
