<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="icon" href="/assets/favicon.ico">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add CSS to the bundle #}
		<style>/* This is an arbitrary CSS string added to the bundle */</style>

		{#- Add the contents of a file to the bundle #}
		<style>{% include "css/index.css" %}</style>

		{#- Or you can add from node_modules #}
		{# <style>{% include "node_modules/something.css" %}</style> #}

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>

		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
					<li class="nav-item"><a href="/#about">About Me</a></li>
					<li class="nav-item"><a href="/#pubs">Publications</li>
					<li class="nav-item"><a href="/#projs">Projects</a></li>
					<li class="nav-item"><a href="/#cv">CV</a></li>
					<li class="nav-item"><a href="/#contact">Contact</a></li>
					<li class="nav-item"><a href="/blog/"{% if page.url == "/blog/" %} aria-current="page"{% endif %}>Blog</a></li>
				</ul>
			</nav>
		</header>

		<main id="main">
			<heading-anchors>
			{%- if rawMain %}
			{{ content | safe }}
			{%- else %}
			<section>
			<h1>{{ pageTitle}}</h1>
			<article>
				{{ content | safe }}
			</article>
			</section>
			{%- endif %}
			</heading-anchors>
		</main>

		<footer>
			<div>
				%copy; 2026 Shawn Huelle -
				<span>Icons made from <a href="https://www.onlinewebfonts.com/icon">svg icons</a> are licensed by CC BY 4.0</span>
			</div>
		</footer>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script>
		(function () {
			const buttonExperience = document.querySelector('[data-js="buttonWorkExperience"]');
			const expandExperience = document.querySelector('[data-js="moreWorkExperience"]');
			if (buttonExperience && expandExperience) {
				buttonExperience.addEventListener("click", () => {
					expandExperience.classList.toggle("work-experience--more");
					buttonExperience.textContent = expandExperience.classList.contains("work-experience--more") ? "more" : "less";
				});
			}

			const buttonTeaching = document.querySelector('[data-js="buttonTeaching"]');
			const expandTeaching = document.querySelector('[data-js="expandTeaching"]');
			if (buttonTeaching && expandTeaching) {
				buttonTeaching.addEventListener("click", () => {
					expandTeaching.classList.toggle("teaching--more");
					buttonTeaching.textContent = expandTeaching.classList.contains("teaching--more") ? "more" : "less";
				});
			}
		})();
		</script>
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
